*py.class
_build
build
.cache
Cargo.lock
cobertura.xml
*.cover
.coverage
.coverage.*
coverage.xml
develop-eggs
dist
downloads
*.egg
*.egg-info
.eggs
eggs
.env
env
ENV
htmlcov
.installed.cfg
*junk*
.make.*
*.manifest
.mypy_cache/
nosetests.xml
parts
*.pdf
pip-delete-this-directory.txt
pip-log.txt
_pycache__
*.py[cod]
.pytest_cache
.Python
.python-version
*.rs.bk
sdist
*.spec
*.svg
.*.sw*
tags
target
.tox
var
.venv
venv
